#root.root {
    --tabs-indent: 18px;
    --tabs-inner-gap: 6px;
    --general-margin: 4px;
    --tabs-close-btn-margin: 3px;
    --nav-btn-width: 28px;
    --nav-btn-height: 28px;
    --ntb-btn-height: 28px;
    --tabs-lvl-opacity: 0.4;
    --frame-bg: var(--s-toolbar-bg);
    --tabs-activated-bg: color-mix(in srgb,var(--s-frame-bg),#0000 25%);
    --frame-el-overlay-hover-bg: color-mix(in srgb,var(--s-frame-bg),#0000 50%);
    --toolbar-el-overlay-hover-bg: color-mix(in srgb,var(--s-frame-bg),#0000 25%);
}


#root[data-frame-color-scheme="dark"] .Tab[data-colorized="true"] {
    --tabs-activated-shadow: var(--active-el-shadow);
}
#root[data-frame-color-scheme="light"] .Tab[data-colorized="true"] {
    --tabs-activated-shadow: var(--active-el-shadow);
}


/* ==================== Tabs ====================== */
/*------- Tab Colour ------------*/
.scrollable .Tab .color-layer {
    width: 32px !important;
}

/*------- Tab Title Text ------------*/
.scrollable .t-box {
    padding: 0 3px;
}

.scrollable .Tab[data-colorized="true"] .t-box {
    padding: 0 6px !important;
}

/*------- grouped tabs ------------*/
/*Tab group expand icon */
.Tab .exp-icon {
    opacity: 1 !important;
}

/* === Make sure child count for collapsed tab groups is visible === */
#root.root .Tab .child-count {
    opacity: 1 !important;
}
