#root.root {
    --tabs-indent: 18px;
    --tabs-inner-gap: 6px;
    --general-margin: 4px;
    --tabs-close-btn-margin: 3px;
    --nav-btn-width: 28px;
    --nav-btn-height: 28px;
    --ntb-btn-height: 28px;
    --tabs-lvl-opacity: 0.4;
    --frame-bg: var(--s-toolbar-bg);
    --tabs-activated-bg: color-mix(in srgb,var(--s-frame-bg),#0000 25%);
}


#root[data-frame-color-scheme="dark"] .Tab[data-colorized="true"] {
    --tabs-activated-shadow: var(--active-el-shadow);
}
#root[data-frame-color-scheme="light"] .Tab[data-colorized="true"] {
    --tabs-activated-shadow: var(--active-el-shadow);
}


/* ==================== Tabs ====================== */

/*------- Tab Colour ------------*/
.scrollable .Tab .color-layer {
    width: 32px !important;
}

/*------- Tab Title Text ------------*/
.scrollable .t-box {
    padding: 0 3px;
}

.scrollable .Tab[data-colorized="true"] .t-box {
    padding: 0 6px !important;
}

/*------- Tab Close Button ------------*/
.Tab .close-icon {
    height: 24px;
    width: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
}

/*------- grouped tabs ------------*/
/*Tab group expand icon */
.Tab .exp-icon {
    opacity: 1 !important;
}

/* === Make sure child count for collapsed tab groups is visible === */
#root.root .Tab .child-count {
    opacity: 1 !important;
}


/* PINNED TABS */

.Tab[data-pin="true"] .body {
    background: #f2f2f220;
    box-shadow: 0px 2px 1px #00000000;
}

.Tab[data-pin="true"][data-active="true"] {
    background-color: #ffffff40;
    border-radius: calc(var(--general-border-radius) + 2px);
}

.PinnedTabsBar .tab-wrapper {
    flex-grow: 1;
    min-width: 55px;
    --tabs-pinned-width: auto;
}

